ChatBot.Backend/.idea/Backend.iml
ChatBot.Backend/.idea/inspectionProfiles/profiles_settings.xml
ChatBot.Backend/.idea/inspectionProfiles/Project_Default.xml
ChatBot.Backend/.idea/misc.xml
ChatBot.Backend/.idea/modules.xml
ChatBot.Backend/.idea/vcs.xml
ChatBot.Backend/.env
